.App {
  margin: 0.5rem;
}
.App-header {
  border: 1px solid lightgrey;
  padding: 1rem;
}
.list {
  list-style-type: none;
}

.list li {
  border: 1px solid lightgrey;
  margin: 1rem;
  padding: 0.3rem;
  border-radius: 4px;
}

.item-done {
  text-decoration: line-through;
  color: gray;
  font-style: italic;
}

.select {
  width: auto;
}


.form-check-input:checked {
  background-color: #3dd5f3;
  border-color: #3dd5f3;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
